<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.ProgressDialect</property>
        <property name="hibernate.connection.driver_class"> org.postgresql.Driver </property>
        <property name="hibernate.connection.url"> jdbc:postgresql://localhost:5432/prog3</property>

        <property name="hibernate.connection.username"> dbaprog3 </property>
        <property name="hibernate.connection.password"> passwddba </property>

        <property name="hibernate.show_sql"> true </property>
        <property name="hibernate.current_session_context_class"> thread </property>
        <property name="hbm2ddl.auto"> update </property>
        <mapping class="com.prog3.hibernate.model.Key"/>
        <mapping class="com.prog3.hibernate.model.Product"/>
        <mapping class="com.prog3.hibernate.model.Purchase"/>
    </session-factory>
</hibernate-configuration>